*{
    background-color: #0B0B3B;
}

.container{
    margin: 0 auto;
    color: #ffffff;
    width: 30em;
    text-align: center;
    padding: 25rem 0 0 0;
    line-height: 3.2rem;
}
.container p:first-child{
    font-size: 3rem;
    margin: 0 0 2rem 0;
}
.container p:not(:first-child){
    font-size: 2rem;
}

.click{
    border-radius: 5px;
    color: #000;
    background-color: #ffffff;
    font-weight: bold;
    font-size: 1rem;
    padding : 3px;
}